.SignIn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignIn .center-box {
  background: #efefef;
  border-radius: 20px;
  box-shadow: 0 0 2px #fff;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.SignIn .center-box:hover {
  transform: scale(1.03);
}

.SignIn h1 {
  margin: 0;
}

.SignIn img {
  width: 60px;
  margin-bottom: 10px;
}

.SignIn p {
  font-style: italic;
  color: #333;
  margin: 0 0 10px 0;
}

.SignIn button {
  padding: 10px;
  font-size: 16px;
  transition: 0.25s;
  border-radius: 10px;
}

.SignIn button:hover {
  transform: scale(1.08);
}
