.Events {
  width: fit-content;
  background: #efefef;
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px;
  transition: 0.25s;
}

.Events:hover {
  transform: scale(1.05);
}

.Events h1 {
  margin: 0;
}

.Events p {
  margin: 10px 0;
}
