* {
  word-break: break-word;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.calendar-box {
  width: calc((100% - 30px * 7) / 7);
  height: 80px;
  margin: 5px;
  padding: 10px;
}
