.Calendar {
  min-height: 100%;
  overflow: auto;
}

.Calendar .month {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  margin: 10px;
}

.Calendar .title-box, .Calendar .title-box-short, .Calendar .title-box-tiny {
  margin-bottom: 15px;
  background: #bbb;
  border-radius: 5px;
  box-shadow: 0 0 2px #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .title-box { display: none; }
.Calendar .title-box-short { display: none; }
.Calendar .title-box-tiny { display: inherit; }

@media (min-width: 510px) {
  .Calendar .title-box { display: none; }
  .Calendar .title-box-short { display: inherit; }
  .Calendar .title-box-tiny { display: none; }
}

@media (min-width: 970px) {
  .Calendar .title-box { display: inherit; }
  .Calendar .title-box-short { display: none; }
  .Calendar .title-box-tiny { display: none; }
}
