.Day {
  background: #dcddde;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  box-shadow: 0 0 2px #333;
}

.Day p {
  margin: 0;
}

.today {
  background: red;
}

.Day textarea {
  flex-grow: 1;
}
